*
{
    background-color: #1F2937;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar
{
    color:white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.nav-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section
{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 100px;
}
.hero-text
{
    width: 400px;
    height: auto;
}
h1
{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}
p
{
    font-size: 18px;
    color:#e5e7eb;
}
img
{
    width: 600px;
    height: auto;
    border-radius: 20px;
}
button
{
    color:#e5e7eb;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
h4
{
    margin-left: 20px;
    margin-right: 20px;
}