*
{
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar
{
    background-color: #1F2937;
    color:white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav-links
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-section
{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    height: 74vh;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 3%;
}
.hero-text
{
    width: 400px;
    height: auto;
    color: #f9faf8;
    font-size: 35px;
    font-weight: bolder;
}


p
{
    font-size: 18px;
    color:#e5e7eb;
}
img
{
    width: 600px;
    height: auto;
    border-radius: 20px;
}
button
{
    color:#e5e7eb;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
h4
{
    margin-left: 20px;
    margin-right: 20px;
}